fastapi
uvicorn
pydantic[email]
langgraph
langchain
langchain-openai
langchain-community
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
sqlmodel
google-auth
google-auth-oauthlib
requests
stripe
httpx
jinja2
python-multipart
websockets
email-validator
razorpay
psycopg2-binary
slowapi
gunicorn
tavily-python
